 <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Naim Malek</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/assets/img/profile.png" alt="Naim Malek">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Naim
          <span class="text-primary">Malek</span>
        </h1>
        <div class="subheading mb-5">
          Sr. Full-Stack Engineer
        </div>
        <p class="lead mb-5">I am software engineer having 4+ years of strong experiance as website development using various technologies.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/naimmalek">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/naimmalek">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/naimmalek786">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://stackoverflow.com/users/4833895/naim-malek">
            <i class="fab fa-stack-overflow"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Full-Stack Engineer</h3>
            <div class="subheading mb-3"></div>
            <p>4+ years of experiance as website development and mobile api development</p>
          </div>
          <div class="resume-date text-md-right">
            <!-- <span class="text-primary">January 2014 - Present</span> -->
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Gujarat Technological University</h3>
            <div class="subheading mb-3">Diploma in Computer Engineering</div>
            <div>Computer Science</div>
            <!-- <p>GPA: 3.23</p>  -->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2010 - 2013</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Jaipur National University</h3>
            <div class="subheading mb-3">Bachelor of Computer Application</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2016 - 2018</span>

          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

  </div>